body {
  background: rgba(201, 201, 201, 0.7);
}

p,
ul,
h2 {
  margin: 0;
  padding: 0;
}

.profile {
  max-width: 300px;
  margin: 20px;
  background: white;
  border-radius: 5px;
}

.profile img {
  max-width: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.description .name {
  font-weight: 700;
  margin-top: 10px;
}

.description .tag,
.description .location {
  color: rgba(116, 116, 116, 0.9);
}

.stats {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(95, 95, 95, 0.5);
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(201, 201, 201, 0.6);
  border-right: 1px solid rgba(95, 95, 95, 0.5);
  padding: 15px;
  flex-basis: 33.33%;
}

.stats li:last-child {
  border-right: 0;
}

.stats li span:nth-child(2) {
  margin-top: 5px;
}

.stats li span:last-child {
  font-weight: 700;
}
